.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
.td {
    border: 1px solid rgb(11, 11, 11);
    text-align: center;
    padding: 8px;
    margin: 2em 0; 
    font-weight: bold; 
    color: #070707; 
    background: rgb(227, 221, 221); 
   
}
  
.tr {
    border: 1px solid rgb(7, 7, 7);
    background-color: rgb(154, 197, 188);
    
}