.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
.td {
    border: 1px solid rgb(8, 8, 8);
    text-align: center;
    padding: 8px;
    margin: 2em 0; 
    font-weight: bold; 
    color: #121010; 
    background: rgb(197, 171, 171); 
   
}
  
.tr {
    border: 1px solid rgb(22, 21, 21);
    background-color: rgb(44, 147, 125);
    
}